<style>
    .form-group{
        padding:5px;
    }
</style>

<form id="addproduct" name="form" novalidate style="padding:10px;margin-bottom:20px;">

  <span class="label label-default">About</span><br>
    <img src="img/product.png" style="width:150px;height:150px;margin-top:20px;">
    <button class="btn btn-link">Add New Image</button>
    <div class="form-group">
      <select class="form-control ct" name="category" id="category">
        <option value="0">-- Choose Category --</option>
        <option ng-repeat="r in categories" value="{{r.id}}">{{r.name}}</option>
      </select>
      <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="name" class="form-control" id="name" name="name" placeholder="Name of product of service goes here">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="description">Descrption</label>
        <textarea ng-model="description" class="form-control" id="description" name="description"
        placeholder="Brief description about it"></textarea>
        <span class="help-block"></span>
    </div>

    <br>
    <span class="label label-success">More</span>
    <div class="form-group">
        <label for="uses">Uses and Applications</label>
        <textarea ng-model="uses" class="form-control" id="uses" name="uses" placeholder="Give users an indication of its uses"></textarea>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="packaging">Packaging or Rate</label>
        <textarea ng-model="packaging" class="form-control" id="packaging" name="packaging"
        placeholder="Give indication about the retail packaging specifications"></textarea>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="location">Where to find it</label>
        <textarea ng-model="location" class="form-control" id="location" name="location"
        placeholder="Give users information about branches or distributors that have it"></textarea>
        <span class="help-block"></span>
    </div>

    <input type="hidden" name="supplierid" value="{{supplierid}}">
    <input type="hidden" name="productid" value="{{productid}}">
    <input type="hidden" name="userid" value="{{userid}}">
    <br>
    <div ng-show="updatesuccess" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Profile successfully updated
    </div>
    <button type="submit" ng-click="updateProduct()" class="btn btn-default">Submit</button>

</form>
