<ul id="resultslist" class="list-group">
    <li id="homefeed" class="list-group-item" style="border-bottom:solid 1px #cecece;padding:0px;">
        <div ng-show="error" style="padding:10px;text-align:center;" class="text-center">Error connecting to the server<br>
            <button id="tryAgain" ng-click="reloadFeed()" class="btn">Try Again</button>
        </div>
        <div ng-show="notfollowing" style="padding:10px;text-align:center;" class="text-center">
            No stories yet.<br><br>
            <a href="#/suppliers" class="btn btn-default">View Suppliers</a>
        </div>
        <div class="row nomargin">
            <div id="leftside" class="col-xs-6" style="padding:3px;">
                <div class="thumbnail cursor" ng-repeat="t in leftside" ng-click="gotoview(t.id)" style="padding:0px;margin-bottom:10px;">
                    <div class="caption" style="padding:0px;">
                        <div style="padding:7px;padding-bottom:0px;">
                          <div class="row middle-xs col-md-12 nomargin" style="text-overflow: ellipsis;padding:0px;">
                                <div class="col-xs-2" style="padding:0px;">
                                    <img style="width:20px;border-radius:50%;" src="{{t.avator}}">
                                </div>
                                <div class="col-xs fg-13 strong overflow-control kurima-title" style="color:black">
                                    &nbsp{{t.publishername}}
                                </div>
                            </div>
                            <p class="wordwrap">{{t.message}}</p>
                            <p class="i fg-9">{{t.timeline}} ago</p>
                        </div>
                        <img ng-if="t.hasurl != false" src="{{t.url}}" style="width:100%;">
                        <!-- <h5 class="card-subtitle"></h5> -->
                        <div class="ct row middle-xs center fg-12" style="padding:0px;margin:5px;">
                            <div class="col-xs" style="padding:0px;">
                                <i ng-hide="t.faved" class="fa fa-star-o cursor"></i>
                                <i ng-show="t.faved" class="fa fa-star cursor"></i>
                                <span class="fg-9"> {{t.numfavs}}</span>
                            </div>
                            <div class="col-xs" style="padding:0px;"><i class="fa fa-comment-o cursor"></i><span class="fg-9"> {{t.numcomments}}</span></div>
                            <div class="col-xs" style="padding:0px;">
                                <i ng-hide="t.collected" class="fa fa-suitcase cursor"></i>
                                <i ng-show="t.collected" class="b fa fa-suitcase cursor" style="border-radius:50%;padding:3px"></i>
                                <span class="fg-9"> {{t.numcollections}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="rightside" class="col-xs" style="padding:3px;">
                <div class="thumbnail cursor" ng-repeat="r in rightside" ng-click="gotoview(r.id)" style="padding:0px;margin-bottom:10px;">
                    <div class="caption" style="padding:0px;">
                        <div style="padding:7px;padding-bottom:0px;">
                          <div class="row middle-xs col-md-12 nomargin" style="text-overflow: ellipsis;padding:0px;">
                                <div class="col-xs-2" style="padding:0px;">
                                    <img style="width:20px;border-radius:50%" src="{{r.avator}}">
                                </div>
                                <div class="col-xs fg-13 strong overflow-control kurima-title" style="color:black">
                                    &nbsp{{r.publishername}}
                                </div>
                            </div>
                            <p class="wordwrap">{{r.message}}</p>
                            <p class="i fg-9">{{r.timeline}} ago</p>
                        </div>
                        <img ng-if="r.url != false" src="{{r.url}}" style="width:100%;">
                        <!-- <h5 class="card-subtitle"></h5> -->
                        <div class="ct row middle-xs center fg-12" style="padding:0px;margin-top:5px;margin-bottom:5px;">
                            <div class="col-xs" style="padding:0px;">
                                <i ng-hide="r.faved" class="fa fa-star-o cursor"></i>
                                <i ng-show="r.faved" class="fa fa-star cursor"></i>
                                <span class="fg-9"> {{r.numfavs}}</span>
                            </div>
                            <div class="col-xs" style="padding:0px;"><i class="fa fa-comment-o cursor"></i><span class="fg-9"> {{r.numcomments}}</span></div>
                            <div class="col-xs" style="padding:0px;">
                                <i ng-hide="r.collected" class="fa fa-suitcase cursor"></i>
                                <i ng-show="r.collected" class="b fa fa-suitcase cursor" style="border-radius:50%;padding:3px"></i>
                                <span class="fg-9"> {{r.numcollections}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
