<div class="container" style="margin:10px;">
  <br>
  <div ><img src="img/kurima-logo.png" style="width:55px;"></div><br>
  <p class="text-center">
    To get the best out of Kurima you'll need to follow Suppliers. Choose from the categories below:
  </p>
  <br>

  <div ng-hide="error" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div ng-repeat="a in categories track by $index" class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title" style="line-height:200%;">
          <div class="fg-20" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{a.id}}" aria-expanded="true" aria-controls="collapseOne">
            {{a.name}}
            <!-- <button class="btn fg-9 btn-default">follow</button> -->
          </div>
        </h4>
      </div>
      <div id="{{a.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body list-group" style="padding:0px;">

          <ul ng-hide="error" id="supplierslist" class="list-group" style="margin-bottom:0px;">
              <li ng-repeat="i in a.suppliers track by $index" class="list-group-item"
              style="padding:5px;padding-left:0px;padding-right:0px;border-bottom:solid 1px #cecece">
                <div class="row middle-xs nomargin" style="margin:0px;padding:3px;">
                  <div class="col-xs overflow-control" ng-click="gotosupplier(i.id);">
                    <img src="{{i.avator}}" style="width:30px;border-radius:50%;"/>
                    {{i.name}} &nbsp
                    <span class="badge">{{i.posts}}</span>
                  </div>

                  <div id="{{i.id}}" ng-if="selfID != i.id" class="col-xs-3 text-center" style="padding:0px;">
                    <button ng-show="i.following" ng-click="$follow(i.id, true, a.suppliers.indexOf(i), a.index2)" class="btn fg-9 btn-default">
                      <i class="fa fa-heart"></i> unfollow
                    </button>
                    <button ng-hide="i.following" ng-click="$follow(i.id, false, a.suppliers.indexOf(i), a.index2)" class="btn fg-9 btn-default">
                      <i class="fa fa-heart-o"></i> follow
                    </button>
                  </div>
                </div>
              </li>
          </ul>
          <div ng-if="a.suppliers.length == 0" style="padding:10px;">No suppliers here yet</div>
          <!-- <a class="list-group-item">Collections</a> -->
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <p>{{totalfollowing}} supplier<span ng-if="totalfollowing != 1">s</span> followed</p>
    <span ng-if="totalfollowing > 2">
      Well done!
      <a href="#/profile/{{ userid }}" class="ct btn btn-default">Continue</a>
    </span>
  </div>
</div>
<br>
