<div style="
background:url(img/landing-web.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size:300%;
height:100%;
">
<br>
<br>
<div class="text-center"><img src="img/kurima1.png" style="width:75px;"></div><br>
  <div class="text-center" style="margin-top:170px;padding:20px;">
    <span class="text-center">
      <p class="fg-25 strong" style="color:white;text-shadow:1px 1px 2px black;">
        Farm Different
      </p>
    </span>
  </div>
</div>
