
<div ng-show="$navbartop" class="navbar navbar-app navbar-absolute-top">
    <div class="fg-20 navbar-brand navbar-brand-center">
        {{$brand}}
    </div>

    <div class="btn-group pull-left">
        <div ng-hide="$needsBack" ui-toggle='kurimasidebar' class="sidebar-toggle btn btn-navbar">
            <i class="fg-20 fa fa-bars"></i>
        </div>
        <div ng-show="$needsBack" ng-click="$back()" class="btn btn-navbar">
            <i class="fg-20 fa fa-chevron-left"></i>
        </div>
    </div>

    <div class="btn-group pull-right">
        <div class="btn btn-navbar" ng-click="$alternatefunction()">
            <img ng-hide="$edit_navbar" src="img/kurima-logo.png" style="height:30px;">
        </div>
        <div ng-show="$edit_navbar" class="btn btn-navbar pull-right">
            <a href="#/post">
                <i class="fg-20 fa fa-edit"></i>
            </a>
        </div>
    </div>
</div>

<div ng-show="$navbarbottom" class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group btn-group-xs btn-group-justified " role="group">

        <!-- Feed menu button control starts -->
        <div id="feed" class="btn-group" role="group">
            <a href="#/feed">
              <button type="button" class="btn btn-default">
                  <i class="fg-20 fa fa-newspaper-o" style="margin:5px;"></i><br>
                  Feed
              </button>
            </a>
        </div>
        <!-- Feed menu button control ends -->

        <!-- Suppliers menu button control starts -->
        <div id="suppliers" class="btn-group" role="group">
            <a href="#/suppliers">
                <button type="button" class="btn btn-default">
                    <i class="fg-20 fa fa-bank" style="margin:5px;"></i><br>
                    Suppliers
                </button>
            </a>
        </div>
        <!-- Suppliers menu button control ends -->

        <!-- Production menu button control starts -->
        <div id="production" class="btn-group" role="group">
          <a href="#/production">
            <button type="button" class="btn btn-default">
                <i class="fg-20 fa fa-leaf" style="margin:5px;"></i><br>
                Production
            </button>
          </a>
        </div>
        <!-- Production menu button control ends -->


        <!-- Notifications menu button control starts -->
        <div id="notifications" class="btn-group" role="group">
          <a href="#/notifications">
            <button type="button" class="btn btn-default">
                <i class="fg-20 fa fa-bell-o" style="margin:5px;"></i><br>
                Notifications
            </button>
            <span ng-show="$showNotification">{{$notifications}}</span></a>
          </a>
        </div>
        <!-- Notifications menu button control ends -->


        <!-- Collections menu button control starts -->
        <div id="profile" class="btn-group bg-transparent" role="group">
            <a href="#/profile">
                <button type="button" class="btn btn-default bg-transparent">
                    <i class="fg-20 fa fa-user" style="margin:5px;"></i><br>
                    Profile
                </button>
            </a>
        </div>
        <!-- Collections menu button control ends -->

    </div>
</div>

<div ng-show="$supplierProfileNavbar" class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group btn-group-xs btn-group-justified" role="group">

        <div ng-if="$selfID != $viewsupplier" class="btn-group" role="group">
          <button ng-show="$following" ng-click="$follow($viewsupplier, true)" type="button" class="btn btn-default">
              <i class="fg-20 fa fa-heart" style="margin:5px;color:#289D48;"></i><br>
              Unfollow <span class="fg-9">({{$followers}})</span
          </button>
          <button ng-hide="$following" ng-click="$follow($viewsupplier, false)" type="button" class="btn btn-default">
              <i class="fg-20 fa fa-heart-o" style="margin:5px;"></i><br>
              Follow <span class="fg-9">({{$followers}})</span
          </button>
        </div>
        <div class="btn-group" role="group">
          <a href="#/feed/supplierposts/{{$viewsupplier}}" class="no-deco" style="color:#808080 !important;">
            <button type="button" class="btn btn-default">
                <i class="fg-20 fa fa-newspaper-o" style="margin:5px;"></i><br>
                View All Posts
            </button>
          </a>
        </div>
        <!--
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">
                <i class="fg-20 fa fa-bell-slash" style="margin:5px;"></i><br>
                Mute Supplier
            </button>
        </div>
      -->
    </div>
</div>
