<div ng-show="showtip" class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Use this section to create a product or service offers by your copmany.
</div>

<style>
    .form-group{
        padding:5px;
    }
</style>

<form id="addproduct" name="form" novalidate style="padding:10px;margin-bottom:20px;">

  <div>
      <div class="list-group">
          <a href="#/products" ng-hide="hasproducts" class="list-group-item" style="border-top:solid 1px #DDDDDD;">
              Products and Services
          </a>
      </div>
  </div>

  <span class="label label-default">About Us</span><br>
    <img src="{{avator}}" style="width:150px;height:150px;margin-top:20px;">
    <button class="btn btn-link">Edit</button>
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="name" class="form-control" id="name" name="name" placeholder="eg Vusumuzi Khoza or National Foods">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="about">About Us</label>
        <textarea ng-model="about" class="form-control" id="about" name="about" placeholder="Brief description about the company"></textarea>
        <span class="help-block"></span>
    </div>

    <br>
    <span class="label label-success">Contact Details</span>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" ng-model="email" class="form-control" id="email" name="email" placeholder="eg vkhoza@email.com">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="phone">Phone number 1</label>
        <input ng-model="phone" class="form-control" id="phone" name="phone" placeholder="eg 0771234567">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <label for="phone2">Phone number 2</label>
        <input ng-model="phone2" class="form-control" id="phone2" name="phone2" placeholder="eg 04573231">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-facebook"></i> https://</span>
            <input ng-model="facebook" class="form-control" id="facebook" name="facebook" placeholder="facebook profile link">
        </div>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-twitter"></i> https://</span>
            <input ng-model="twitter" class="form-control" id="twitter" name="twitter" placeholder="twitter profile link">
        </div>
        <span class="help-block"></span>
    </div>

    <input type="hidden" name="p" value="_">
    <input type="hidden" name="action" value="signup">
    <input type="hidden" name="actionplus" value="_">
    <input type="hidden" name="userid" value="{{userid}}">
    <br>
    <div ng-show="updatesuccess" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Profile successfully updated
    </div>
    <button type="submit" ng-click="updateProfile()" class="btn btn-default">Submit</button>

</form>
