<div ng-show="showtip" class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Use this section to update information about your company. We've already filled in the information you gave us already.
    This is very important in order to help farmers and other users interact with your company easily.
</div>

<style>
    .form-group{
        padding:5px;
    }
</style>

<div ng-if="firstime" class="text-center" style="padding:20px;">
    Add some information about yourself to create your profile. You may upload a profile picture of your choice.
</div>

<div id="cover" class="row middle-xs nomargin" style="padding:20px;">
    <div class="col-xs-12 text-center" style="padding:0px;">
        <img ng-click="changeAvator()" id="displayimage" style="width:60px;border-radius:50%;" src="{{avator}}">
    </div>
    <div class="col-xs text-center" style="padding:0px;line-height:180%;">
        <span class="h4">{{name}}</span><br>
        <div class="primary-color row strong nomargin fg-12 ct" style="color:black;line-height:100%;">
            <div class="col-xs-6">{{$followers}} follower<span ng-if="$followers != 1">s</span></div> | 
            <div class="col-xs pull-right">{{posts}} post<span ng-if="posts != 1">s</span></div>
        </div>
        <span ng-if="$supplier">{{category}}</span><br>
    </div>
</div>


<form id="signupform" name="form" novalidate style="padding:10px;margin-bottom:20px;">

  <div ng-if="!firstime && $supplier">
      <div class="list-group">
        <a href="#/post" class="list-group-item" style="border-top:solid 1px #DDDDDD;">
            Publish post
            <i class="pull-right fa fa-chevron-right"></i>
        </a>
        <a href="#/feed/supplierposts/{{$userid}}" class="list-group-item">
            View posts
            <i class="pull-right fa fa-chevron-right"></i>
        </a>
        <a href="#/products" ng-hide="hasproducts" class="list-group-item">
            Products and Services
            <i class="pull-right fa fa-chevron-right"></i>
        </a>
      </div>
  </div>

  <span class="label label-default">About</span><br><br>
    <div class="form-group">
        <input ng-model="name" class="form-control" id="name" name="name" placeholder="Name">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <select class="form-control ct" name="district" ng-model="district" id="district">
            <option value="0">-- Choose District --</option>
            <option ng-repeat="r in districts" value="{{r.id}}">{{r.name}}</option>
        </select>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <select class="form-control ct" name="category" ng-model="category" id="category">
            <option value="0">-- Choose Category --</option>
            <option ng-repeat="r in categories" value="{{r.id}}">{{r.name}}</option>
        </select>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="email" ng-model="email" class="form-control" id="email" name="email" placeholder="Email">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="phone" class="form-control" id="phone" name="phone" placeholder="Phone Number">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input ng-model="phone2" class="form-control" id="phone2" name="phone2" placeholder="Secondary Phone Number">
        <span class="help-block"></span>
    </div>

    <br>
    Please select an option
    <div class="form-group" ng-hide="$supplier">
        <select ng-change="farmer()" ng-model="interests" class="form-control" id="interests" name="interests">
            <option value="0">-- Choose --</option>
            <option value="1">I am already a farmer</option>
            <option value="2">I want to start farming</option>
        </select>
        <span class="help-block"></span>
    </div>

    <div ng-show="$isfarmer">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#crops" aria-expanded="true" aria-controls="collapseOne">
                        What crops do you grow
                    </div>
                </div>
                <div id="crops" class="panel-collapse collapse container" role="tabpanel" aria-labelledby="headingOne">
                    <div ng-repeat="r in crops" class="checkbox">
                        <label>
                            <input type="checkbox" name="crop_{{r.id}}" id="crop_{{r.id}}" value="{{ r.id }}"> {{ r.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#livestock" aria-expanded="true" aria-controls="collapseOne">
                        What livestock do you rear
                    </div>
                </div>
                <div id="livestock" class="panel-collapse collapse container" role="tabpanel" aria-labelledby="headingOne">
                    <div ng-repeat="r in livestock" class="checkbox">
                        <label>
                            <input type="checkbox" name="livestock_{{r.id}}" id="livestock_{{r.id}}" value="{{ r.id }}"> {{ r.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="land">Total land size</label>
            <select class="form-control" id="land" name="land">
                <option selected="selected" value="0">-- Choose --</option>
                <option ng-repeat="r in land" value="{{r.id}}">{{r.name}}</option>
            </select>
            <span class="help-block"></span>
        </div>
    </div>

    <div ng-show="$isnotfarmer">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#crops1" aria-expanded="true" aria-controls="collapseOne">
                        What crops are you interested in
                    </div>
                </div>
                <div id="crops1" class="panel-collapse collapse container" role="tabpanel" aria-labelledby="headingOne">
                    <div ng-repeat="r in crops" class="checkbox">
                        <label>
                            <input type="checkbox" name="crop_{{r.id}}" id="crop_{{r.id}}" value="{{ r.id }}"> {{ r.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <div class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#livestock1" aria-expanded="true" aria-controls="collapseOne">
                        What livestock are you interested in
                    </div>
                </div>
                <div id="livestock1" class="panel-collapse collapse container" role="tabpanel" aria-labelledby="headingOne">
                    <div ng-repeat="r in livestock" class="checkbox">
                        <label>
                            <input type="checkbox" name="livestock_{{r.id}}" id="livestock_{{r.id}}" value="{{ r.id }}"> {{ r.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <span class="label label-success">More Details</span><br><br>
    <div class="form-group" ng-show="$supplier">
        <textarea ng-model="about" class="form-control" id="about" name="about" placeholder="About Us"></textarea>
        <span class="help-block"></span>
    </div>
    <div class="form-group" ng-hide="$supplier">
        <select class="form-control" id="sex" name="sex">
            <option selected="selected" value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <span class="help-block"></span>
    </div>
    <div class="form-group" ng-hide="$supplier">
        <input ng-model="dob" class="form-control datepicker" id="dob" name="dob" placeholder="Date of birth/Inception"/>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="fg-9 input-group-addon"><i class="fa fa-facebook"></i> https://</span>
            <input ng-model="facebook" class="form-control" id="facebook" name="facebook" placeholder="facebook profile link">
        </div>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="fg-9 input-group-addon"><i class="fa fa-twitter"></i> https://</span>
            <input ng-model="twitter" class="form-control" id="twitter" name="twitter" placeholder="twitter profile link">
        </div>
        <span class="help-block"></span>
    </div>

    <input type="hidden" name="p" value="_">
    <input type="hidden" name="actionplus" value="_">
    <input type="hidden" name="userid" value="{{userid}}">
    <input type="hidden" name="memberid" value="{{userid}}">
    <br>
    <div ng-show="updatesuccess" class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Profile successfully updated
    </div>
    <button ng-show="firstime" type="submit" ng-click="updateProfile(true)" class="btn btn-default">Submit</button>
    <button ng-hide="firstime" type="submit" ng-click="updateProfile(false)" class="btn btn-default">Submit</button>

</form>
