<div style="
background:#279949;
height:100%;
">
<br>
<form id="signinform" name="form" novalidate style="padding:10px;">
    <span class="text-center">
      <div class="text-center"><img src="img/kurima-white.png" style="width:75px;"></div><br>
<!--
      <p class="text-justify" style="color:white;">
        Welcome to Kurima. Here, farmers receive targeted information from buyers, government and agricultural input, equipment & service providers (let’s call them “Suppliers”). Suppliers are able to publish unlimited articles, images, videos, tutorials and news reports etc. which are tailored to keep farmers informed on the products, services and activities they are involved in. 
        Kurima provides farmers an opportunity to communicate quickly, directly and cost- effectively with the various Suppliers who influence their farming activities. The farmer can also access a vast library of reliable production guides and good management practices for various crops & livestock developed by AGRITEX, Agro Intel and the Division of Livestock Production & Development.”
      </p>
-->
      <p class="strong text-center" style="color:white;">
        <a href="#/signup" class="btn btn-default">Create an account</a><br><br>
        or
      </p>
      <p class="strong" style="color:white;">
        Sign In
      </p>
    </span>
    <div class="form-group">
        <input style="line-height:200%;" type="email" ng-model="email" class="form-control" id="email" name="email" placeholder="Phone Number / Email address">
        <span style="color:white;" class="help-block"></span>
    </div>
    <div ng-show="found" class="form-group">
        <input type="password" ng-model="password" class="form-control" id="password" name="password" placeholder="Password">
        <span class="strong help-block" style="font-weight:800;"></span>
    </div>
    <button ng-hide="found" type="submit" ng-click="check()" class="btn btn-default">Sign In</button>
    <button ng-show="found" type="submit" ng-click="attemptLogin()" class="btn btn-default">Sign In</button>
    <br>
    <br>
</form>
</div>
