<div ng-show="error" class="text-center" style="padding:10px;">
    Unable to connect to server.<br>
    <button ng-click="reloadSupplier(id)" class="btn">Try Again</button>
</div>

<div ng-hide="error" class="thumbnail cursor" style="margin:0px;padding:0px;">
    <div class="container">
      <div id="cover" class="row middle-xs nomargin" style="padding:20px;">
          <div class="col-xs-12 text-center" style="padding:0px;">
              <img ng-click="changeAvator()" id="displayimage" style="width:60px;border-radius:50%;" src="{{avator}}">
          </div>
          <div class="col-xs text-center" style="padding:0px;line-height:180%;">
              <span class="h4">{{name}}</span><br>
              <div class="primary-color row strong nomargin fg-12 ct" style="color:black;line-height:100%;">
                  <div class="col-xs-6">{{$followers}} follower<span ng-if="$followers != 1">s</span></div> | 
                  <div class="col-xs pull-right">{{posts}} post<span ng-if="posts != 1">s</span></div>
              </div>
              <span >{{category}}</span><br>
          </div>
      </div>
      <p>
          <span class="label label-default">About Us</span> <br>
          <p>{{about}}</p>
      </p>
      <p>
        <span class="label label-primary">Products and Services</span><br>
        <ul ng-show="noproducts" class="list-group">
          <li class="list-group-item fg-15">
            This supplier hasn't added any products yet.<br>
            <!-- <a href="#/addproduct" class="btn btn-default">Add a product</a> -->
          </li>
        </ul>
        <div id="products" class="list-group">
          <a href="#/viewproduct" ng-repeat="r in products" class="width10 list-group-item" ng-click="viewproduct(r.id)">
            <div class="row middle-xs">
              <div class="col-md-2" style="padding:5px;">
                <img src="{{r.url}}" style="width:50px;">
              </div>
              <div class="col-md-10">
                <h4 class="list-group-item-heading">{{r.name}}</h4>
                <p class="list-group-item-text i fg-14">{{r.category}}</p>
              </div>
            </div>
          </a>
        </div>
      </p>
      <p>
        <span class="label label-success">Contact Us</span><br>
        <div class="list-group">
          <a class="list-group-item"><i class="fa fa-phone"></i> {{phone}}</a>
          <a class="list-group-item"><i class="fa fa-phone"></i> {{phone2}}</a>
          <a class="list-group-item" target="_blank" href="http://{{facebook}}"><i class="fa fa-facebook"></i> {{facebook}}</a>
          <a class="list-group-item" target="_blank" href="http://{{twitter}}"><i class="fa fa-twitter"></i> {{twitter}}</a>
        </div>
      </p>
    </div>
</div>
