<ul ng-show="error" class="list-group">
    <li class="list-group-item" style="border-bottom:solid 1px #cecece">
        <div style="padding:10px;text-align:center;" class="text-center">Error connecting to the server<br>
            <button ng-click="reloadSuppliers()" class="btn">Try Again</button>
        </div>
    </li>
</ul>

<ul ng-show="nosuppliers" class="list-group text-center">
  <li class="list-group-item">
    No suppliers here yet.
  </li>
</ul>

<ul ng-hide="error" id="supplierslist" class="list-group">
    <li ng-repeat="i in suppliers track by $index" class="list-group-item"
    style="padding:5px;padding-left:0px;padding-right:0px;border-bottom:solid 1px #cecece">
      <div class="row middle-xs nomargin" style="margin:0px;padding:3px;">
        <div class="col-xs overflow-control" ng-click="gotosupplier(i.id);">
          <img src="{{i.avator}}" style="width:30px;border-radius:50%;"/>
          {{i.name}}
          <span class="badge">{{i.posts}} posts</span>
        </div>
        <div ng-if="selfID != i.id" class="col-xs-3 text-center" style="padding:0px;">
          <button id="{{i.id}}" data-index="{{i.index}}" ng-show="i.following" ng-click="$follow(i.id, true, i.index)" class="btn fg-7 btn-default">
            <i class="fa fa-heart"></i> unfollow
          </button>
          <button id="{{i.id}}" data-index="{{i.index}}" ng-hide="i.following" ng-click="$follow(i.id, false, i.index)" class="btn fg-7 btn-default">
            <i class="fa fa-heart-o"></i> follow
          </button>
        </div>
      </div>
    </li>
</ul>
