<ul ng-show="error" class="list-group">
    <li class="list-group-item" style="border-bottom:solid 1px #cecece">
        <div style="padding:10px;text-align:center;" class="text-center">Error connecting to the server<br>
            <button ng-click="reloadCategories()" class="btn">Try Again</button>
        </div>
    </li>
</ul>

<div ng-hide="error" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div ng-repeat="i in categories track by $index" class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <div class="fg-20" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{i.id}}" aria-expanded="true" aria-controls="collapseOne">
          {{i.name}}
          <!-- <button class="btn fg-9 btn-default">follow</button> -->
        </div>
      </h4>
    </div>
    <div id="{{i.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body list-group" style="padding:0px;">
        <a href="#/feed/categories/{{i.id}}" class="list-group-item">Posts</a>
        <a href="#/suppliers/categories/{{i.id}}" class="list-group-item">Suppliers</a>
        <a href="#/products/{{i.id}}" class="list-group-item">Products</a>
        <!-- <a class="list-group-item">Collections</a> -->
      </div>
    </div>
  </div>
</div>
