<ul ng-show="nocollections" class="list-group">
    <li class="list-group-item" style="border-bottom:solid 1px #cecece">
        <div style="padding:10px;text-align:center;" class="text-center">
            You haven't collected anything yet. Tap on the &nbsp<i class="fa fa-suitcase"></i>&nbsp icon on any post to collect it.<br>
        </div>
    </li>
</ul>

<ul ng-show="error" class="list-group">
    <li class="list-group-item" style="border-bottom:solid 1px #cecece">
        <div style="padding:10px;text-align:center;" class="text-center">Error connecting to the server<br>
            <button ng-click="reloadCategories()" class="btn">Try Again</button>
        </div>
    </li>
</ul>

<div ng-hide="error" id="resultslist" class="list-group">
    <a ng-repeat="i in collections" class="list-group-item" href="#/feed/collections/{{i.catid}}" style="padding:5px;border-bottom:solid 1px #cecece">
        {{i.category}}
        <span class="badge">{{i.numsaved}}</span>
    </a>
</div>
