<!DOCTYPE html>
<!--
    Copyright (c) 2012-2014 Adobe Systems Incorporated. All rights reserved.

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="kurima">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0,
        target-densitydpi=medium-dpi, minimum-scale=1, user-scalable=0" />

        <link rel="stylesheet" type="text/css" href="js/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="js/flexbox/dist/flexboxgrid.min.css" />
        <link rel="stylesheet" type="text/css" href="js/mobile-angular-ui/css/mobile-angular-ui-base.css" />
        <link rel="stylesheet" type="text/css" href="js/mobile-angular-ui/css/mobile-angular-ui-hover.css" />
        <link rel="stylesheet" type="text/css" href="js/mobile-angular-ui/fonts/fontawesome-webfont.ttf" />
        <link rel="stylesheet" type="text/css" href="css/ngDialog-theme-default.css" />
        <link rel="stylesheet" type="text/css" href="css/ngDialog.min.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css" />

        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/simple.css" />

        <title>Kurima</title>
    </head>
    <body ng-controller="kurimaApp">
        <div id="kurimasidebar" class="sidebar sidebar-left">
            <div class="scrollable">
                <h1 class="scrollable-header app-name">
                  <div class="row">
                    <div class="col-xs-10">
                      <img src="img/kurima-logo.png" style="width:50px;border-radius:5px;">
                      Kurima
                    </div>
                    <div class="col-xs">
                      <i ui-toggle='kurimasidebar' class="fa fa-arrow-left sidebar-toggle"></i>
                    </div>
                  </div>
                </h1>
                <div class="scrollable-content">
                    <div class="list-group" ng-controller="menuEvents" ui-turn-off='uiSidebarLeft'>
                        <a class="list-group-item" href="#/feed">
                            Home
                            <i class="fa fa-chevron-right pull-right"></i>
                        </a>
                        <a class="list-group-item" href="#/profile">
                            Profile
                            <i class="fa fa-chevron-right pull-right"></i>
                        </a>
                        <a class="list-group-item" href="#/categories">
                            Categories
                            <i class="fa fa-chevron-right pull-right"></i>
                        </a>
                        <a class="list-group-item" href="#/suppliers">
                            Suppliers
                            <i class="fa fa-chevron-right pull-right"></i>
                        </a>
                        <a class="list-group-item" href="#/collections">
                            Collections
                            <i class="fa fa-chevron-right pull-right"></i>
                        </a>
                        <br>
                        <a class="list-group-item" ng-click="logout()" href="#/link2">
                            Signout
                            <i class="fa fa-chevron-right pull-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="app">
            <div ng-controller="menuEvents" ng-include="'navbars.html'" ng-if="$nv"></div>
            <!-- App body -->

            <div class="app-body scrollable">
                <div class="app-content scrollable-content">
                    <ng-view></ng-view>
                </div>
            </div>
        </div><!-- ~ .app -->

        <span us-spinner="{radius:5, width:5, length: 1}" spinner-key="mySpinner"></span>

        <!-- Modals and Overlays -->
        <div ui-yield-to="modals"></div>

        <script src="js/libs/jquery-1.11.1.js"></script>
        <script src="js/libs/jquery-ui.js"></script>
        <script src="js/bootstrap/js/bootstrap.min.js"></script>

        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-route.min.js"></script>
        <script src="js/libs/angular-cookies.min.js"></script>
        <script src="js/libs/angular-resource.min.js"></script>
        <script src="js/libs/angular-ngDialog.min.js"></script>
        <script src="js/libs/spin.min.js"></script>
        <script src="js/libs/angular-spinner.min.js"></script>
        <script src="js/mobile-angular-ui/js/mobile-angular-ui.min.js"></script>
        <script src="js/mobile-angular-ui/js/mobile-angular-ui.gestures.min.js"></script>
        <script src="js/libs/jquery.serialize-object.min.js"></script>

        <script src="js/utilities.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/services.js"></script>
        <script src="js/kurima.js"></script>

        <script type="text/javascript" src="cordova.js"></script>
    </body>
</html>
