<ul ng-show="error" class="list-group">
    <li class="list-group-item" style="border-bottom:solid 1px #cecece">
        <div style="padding:10px;text-align:center;" class="text-center">Error connecting to the server<br>
            <button ng-click="reloadNotifications()" class="btn">Try Again</button>
        </div>
    </li>
</ul>

<ul ng-show="nonotifications" class="list-group text-center">
  <li class="list-group-item">
    No notifications yet.
  </li>
</ul>

<ul ng-hide="error" id="notificationslist" class="list-group">
    <li ng-repeat="i in notifications" class="list-group-item"
    style="padding:5px;padding-left:0px;padding-right:0px;border-bottom:solid 1px #cecece">
      <div class="row middle-xs {{i.seen}}" style="margin:0px;">
        <div class="col-xs-2" style="padding:5px;">
          <img src="{{i.avator}}" style="width:50px;border-radius:50%;"/>
        </div>
        <div ng-if="i.type == 'fav' || i.type == 'comment'" id="{{i.id}}" class="col-xs fg-15" ng-click="gotoview(i.notificationfor)">
          {{i.message}} &nbsp <i class="fa fa-{{i.class}}"></i>
        </div>
        <div ng-if="i.type == 'follow'" id="{{i.id}}" class="col-xs fg-15" ng-click="">
          {{i.message}} &nbsp <i class="fa fa-{{i.class}}"></i>
        </div>
      </div>
    </li>
</ul>
