
<!-- Publish new post section -->
<ul ng-show="$supplier" class="list-group" style="margin-bottom:0px;">
    <li ng-hide="disableposting" id="newpost" data-postid="" class="list-group-item" style="border:hidden;padding:5px;">
        <form class="form-inline" name="newpostform" id="newpostform">
            <div class="form-group" style="padding:5px;width:100%;">
            <img id="displayimage" src="" style="display:none;width:100%;"/>
            <div class="form-group" style="padding-top:3px;padding-bottom:3px;">
                <textarea rows="5" class="form-control" name="message" id="message" placeholder="Type new post..."
                          style="border:hidden;margin:0px;width:100%;"></textarea>
                <span class="help-block" style="border:hidden;"></span>
            </div>
            <div class="row middle-xs text-center" style="margin:0px;">
                <div class="col-xs-7" style="padding:0px;">
                    <select class="form-control ct" name="category" id="category">
                      <option value="0">-- Choose Category --</option>
                      <option ng-repeat="r in categories" value="{{r.id}}">{{r.name}}</option>
                    </select>
                </div>
                <div class="col-xs fg-14" ng-click="getImage()" style="padding:0px;">
                    <i id="camera" class="fa fa-camera"></i>
                </div>
                <div class="col-xs" style="padding:0px;">
                    <button ng-click="submitMainPost()" class="btn btn-default">
                        Post
                    </button>
                </div>
            </div>
            </div>
        </form>
    </li>
</ul>
