
<ul ng-show="error" class="list-group">
    <li class="list-group-item" style="border-bottom:solid 1px #cecece">
        <div style="padding:10px;text-align:center;" class="text-center">Error connecting to the server<br>
            <button ng-click="reloadCategories()" class="btn">Try Again</button>
        </div>
    </li>
</ul>

<div ng-hide="error" class="list-group">
  <a class="list-group-item" style="border-bottom:solid 1px #cecece">
      Crop Production Guides
      <span class="badge">{{i.total}}</span>
  </a>
  <a class="list-group-item" style="border-bottom:solid 1px #cecece">
      Livestock Management
      <span class="badge">{{i.total}}</span>
  </a>
  <a class="list-group-item" style="border-bottom:solid 1px #cecece">
      Pests and Diseases
      <span class="badge">{{i.total}}</span>
  </a>
  <a class="list-group-item" style="border-bottom:solid 1px #cecece">
      Good Agricultural Practices
      <span class="badge">{{i.total}}</span>
  </a>
</div>
