
<div ng-hide="error" class="list-group">
  <a ng-hide="forbidnewproduct" href="#/addproduct" class="list-group-item btn btn-link fg-18">
    <i class="fa fa-plus strong primary-color"></i>
    Add New
  </a>
  <a href="#/viewproduct" ng-repeat="r in products" class="width10 list-group-item" ng-click="viewproduct(r.id)">
    <div class="row middle-xs">
      <div class="col-md-2" style="padding:5px;">
        <img src="{{r.url}}" style="width:50px;">
      </div>
      <div class="col-md-10">
        <h4 class="list-group-item-heading">{{r.name}}</h4>
        <p class="list-group-item-text i fg-14">{{r.category}}</p>
      </div>
    </div>
  </a>
</div>

<div ng-show="error" class="text-center" style="padding:10px;">
  Unable to connect to server.<br>
  <button ng-click="reloadProducts()" class="btn">Try Again</button>
</div>

<ul ng-show="noproducts" class="list-group text-center">
  <li class="list-group-item">
    No products to show yet.<br>
    <a ng-hide="forbidnewproduct" href="#/addproduct" class="btn btn-default">Add a product</a>
  </li>
</ul>
