<style>
    .form-group{
        padding:5px;
    }
</style>
<br>
<form id="signupform" name="form" novalidate style="padding:10px;">
    <div ><img src="img/kurima-logo.png" style="width:55px;"></div><br>
    <p>Fill in to Create your account</p>
    <div class="form-group">
        <select ng-change="supplier()" class="form-control" id="type" ng-model="type" name="type">
            <option selected="selected" value="0">Farmer</option>
            <option value="1">Supplier</option>
        </select>
        <span class="help-block"></span>
    </div>
    <div ng-show="issupplier" class="form-group">
        <select class="form-control ct" name="category" ng-model="category" id="category">
            <option value="0">-- Choose Category --</option>
            <option ng-repeat="r in categories" value="{{r.id}}">{{r.name}}</option>
        </select>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="name" ng-model="name" class="form-control" id="name" name="name" placeholder="Full Name">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <select class="form-control ct" name="district" ng-model="district" id="district">
            <option value="0">-- Choose District --</option>
            <option ng-repeat="r in districts" value="{{r.id}}">{{r.name}}</option>
        </select>
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="phone" ng-model="phone" class="form-control" id="phone" name="phone" placeholder="Phone Number">
        <span class="help-block"></span>
    </div>
    <div class="form-group">
        <input type="email" ng-model="email" class="form-control" id="email" name="email" placeholder="Email Address">
        <span class="help-block"></span>
    </div>
    <div ng-show="issupplier" class="form-group">
        <input type="password" ng-model="password" class="form-control" id="password" name="password" placeholder="Password">
        <span class="help-block"></span>
    </div>
    <div ng-show="issupplier" class="form-group">
        <input type="password" ng-model="rpassword" class="form-control" id="rpassword" name="rpassword" placeholder="Repeat Password">
        <span class="help-block"></span>
    </div>
    <div class="form-group bg-transparent">
        <label for="agree" class="bg-transparent">I have read and agree with the Kurima User Agreement</label>
        <input type="checkbox" ng-model="agree" class="form-control" name="agree" id="agree" value="yes">
        <span class="help-block" style="display:none;"></span>
    </div>
    <input type="hidden" name="action" value="signup">
    <input type="hidden" name="p" value="_">
    <button type="submit" ng-click="attemptSignup()" class="btn btn-default">Proceed</button>
    <br>
    <br>
    Already have an account? <a href="#/signin">Sign In</a>
</form>
