<div ng-show="error" style="padding:10px;">Unable to connect to server.<br>
    <button ng-click="getPost()" class="btn">Try Again</button>
</div>

<div ng-hide="error" class="thumbnail cursor" style="margin-bottom:0px;">
    <div class="caption">
        <div class="row middle-xs nomargin">
            <div class="col-lg-2">
                <img style="width:40px;border-radius:50%;" src="{{avator}}">
            </div>
            <div class="col-lg-10" style="padding:0px;">
                <span class="fg-18 strong" ng-click="gotosupplier(publisherid)">{{publishername}}</span>
            </div>
        </div>
        <br>
        <p class="i">
            {{category}}
        </p>
        {{message}}
        <p class="i fg-11">{{timeline}}</p>
        <img ng-show="hasImage" src="{{url}}">
        <!-- <h5 class="card-subtitle"></h5> -->
        <div class="ct row middle-xs center fg-25 nomargin" style="padding:0px;margin-top:10px;">
            <div class="col-xs-3 col-xs-offset-1" style="padding:0px;">
                <i ng-hide="faved" ng-click="placeFav()" class="fa fa-star-o cursor"></i>
                <i ng-show="faved" ng-click="removeFav()" class="fa fa-star cursor"></i>
                <span class="fg-9"> {{numfavs}}</span>
            </div>
            <div class="col-xs-2" style="padding:0px;" onclick="$('#message').focus();">
              <i class="fa fa-comment-o cursor"></i><span class="fg-9"> {{numcomments}}</span>
            </div>
            <div class="col-xs-2" style="padding:0px;"><i class="fa fa-share-alt cursor"></i></div>
            <div class="col-xs-3" style="padding:0px;">
                <i ng-hide="collected" ng-click="placeincollection()" class="fa fa-suitcase cursor"></i>
                <i ng-show="collected" ng-click="removefromcollection()" class="b fa fa-suitcase cursor" style="border-radius:50%;padding:3px"></i>
                <span class="fg-9"> {{numcollections}}</span>
            </div>
        </div>
    </div>
</div>

<ul ng-hide="error" id="commentslist" class="list-group">
    <li class="list-group-item" style="padding:5px;">
        <form class="form-inline" name="newpostform" id="newpostform">
            <input type="hidden" id="responseto" name="responseto" value="{{responseto}}">
            <div class="row middle-xs around-xs col-md-12 nomargin" style="padding:5px;">
                <div class="col-xs fg-12">
                    <div class="form-group" style="padding-top:3px;padding-bottom:3px;width:100%;">
                        <textarea class="form-control" name="message" id="message" placeholder="Type your comment..."
                            style="border:hidden;height: 33px;margin:0px;width:100%;"></textarea>
                        <span class="help-block" style="border:hidden;"></span>
                    </div>
                </div>
                <div class="col-xs-3" style="padding:0px;">
                    <button ng-click="submitComment()" class="btn btn-default">
                        <i class="fa fa-send"></i>
                        Post
                    </button>
                </div>
            </div>
        </form>
    </li>
    <li ng-repeat="c in comments" class="list-group-item" style="padding:10px;border-bottom:solid 1px #cecece">
        <div class="row fg-11 nomargin" style="margin:nomargin0px;">
            <div class="col-xs i" style="padding:0px;">{{c.publishername}}</div>
            <div class="col-xs text-right i" style="padding:0px;">{{c.timeline}} ago</div>
        </div>
        <img ng-show="c.hasImage" src="{{c.url}}">
        <div class="wordwrap fg-13" style="color:#555">{{c.message}}</div>
    </li>
</ul>
