<div ng-show="error" class="text-center" style="padding:10px;">
    Unable to connect to server.<br>
    <button ng-click="reloadProduct(id)" class="btn">Try Again</button>
</div>

<div ng-hide="error" class="thumbnail cursor" style="margin-bottom:0px;">
    <div class="caption">
      <div class="nomargin row middle-xs" style="margin-bottom:15px;">
        <div class="col-xs" ng-click="gotosupplier(supplierid)">
          <img src="{{avator}}" style="width:30px;border-radius:50%;"/>
          {{supplier}}
        </div>
        <div ng-if="selfID != supplierid" class="col-xs-3 text-center" style="padding:0px;">
          <button ng-show="$following" ng-click="$follow(supplierid, true)" class="btn fg-9 btn-default">unfollow</button>
          <button ng-hide="$following" ng-click="$follow(supplierid, false)" class="btn fg-9 btn-default">follow</button>
        </div>
      </div>
      <br>
      <span class="label label-default">About</span> <br><br>
        <div class="row middle-xs" style="margin:0px;">
            <div class="col-xs-4">
                <img style="width:70px;" src="{{url}}">
            </div>
            <div class="col-xs" style="padding:0px;">
              <div class="fg-18 width10 strong" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                {{name}}
              </div>
              <div class="fg-18 width10 i">{{category}}</div>
            </div>
        </div>
        <p>
            <p>{{description}}</p
        </p>
        <p>
          <span class="label label-primary">More</span><br>
          <ul class="list-group">
            <li class="list-group-item wordwrap"><b>Uses and Applications</b><br>{{uses}}</li>
            <li class="list-group-item"><b>Packaging Specs</b><br>{{packaging}}</li>
            <li class="list-group-item"><b>Where can you find it?</b><br>{{location}}</li>
          </ul>
        </p>
    </div>
</div>
