#homefeed {
  background: url(../img/geometry.png);
}

p {
  color:grey;
  margin-bottom:7px;
}

.kurima-title {
  font-weight:900;
}

.primary-color {
    color: #269846 !important;
}

a:focus, button:focus {
  outline:0 !important;
}

.btn-group-justified > .btn-group .btn {
    width: 100%;
    font-size: 11px !important;
}

#notifications span {
    position: absolute;
    top:5px;
    right: 15px;
    padding: 1px 6px;
    border: hidden;
    border-radius:50%;
    background: -webkit-linear-gradient(top, #FF6969 0%,#ff0000 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,.5), 0 1px 4px rgba(0,0,0,.4), 0 0 1px rgba(0,0,0,.7) inset, 0 10px 0px rgba(255,255,255,.11) inset;
    -webkit-background-clip: padding-box;
    font:bold 10px/16px "Helvetica Neue", sans-serif;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.6);
}​

.fa-heart, .fa-heart-o {
  color:green !important;
}

.notseen {
  border-right:solid 5px green !important;
}

.seen {
  border-right:hidden !important;
}

.navbar-absolute-bottom .active-menu-item button {
    color:#289D48 !important;
}

.navbar-absolute-bottom button:hover {
    background:#F7F7F7 !important;
}

.navbar-absolute-bottom button:focus {
    border:hidden !important;
    box-shadow: none !important;
}

.navbar-absolute-bottom button {
    color:grey !important;
    line-height:100% !important;
}

.help-block {
    font-size:11px !important;
}

input {
  line-height:200% !important;
  font-size:16px !important;
}

body, input, select, textarea, button, h1, h2, h3, h4, h5, h6 {
    font-size:14px !important;
    color:black;
    font-family: "Helvetica" !important;
}

.navbar-absolute-bottom button {
    text-transform:none !important;
    font-size:12px;
    padding:2px;
}

.app {
    background:white;
}

@font-face {
  font-family: "Helvetica";
  src: url(../fonts/HelveticaNeueLt.ttf) format("truetype");
}

@font-face {
  font-family: "Aspex";
  src: url(../fonts/Aspex.ttf) format("truetype");
}

@font-face {
  font-family: "MotionPicture";
  src: url(../fonts/MotionPicture_PersonalUseOnly.ttf) format("truetype");
}

@font-face {
  font-family: "Vertigo";
  src: url(../fonts/VertigoFLF.ttf) format("truetype");
}

@font-face {
  font-family: "AvantageSmall";
  src: url(../fonts/AvantageSmall.ttf) format("truetype");
}

@font-face {
  font-family: "Alex Brush";
  src: url(../fonts/AlexBrush-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Calligraffiti";
  src: url(../fonts/Calligraffiti.ttf) format("truetype");
}

@font-face {
  font-family: "Bahamas";
  src: url(../fonts/Bahamas.ttf) format("truetype");
}

@font-face {
  font-family: "Milasian Thin";
  src: url(../fonts/MilasianThinPERSONAL.ttf) format("truetype");
}
